body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px; /* adjust to your preferred width */
    display: inline-block;
    vertical-align: middle;
    cursor: default; /* so the cursor looks normal */
}

.header h1 {
    margin: 0;
}

.admin {
    font-weight: bold;
}

.container {
    padding: 20px 40px;
}

.container h2 {
    margin-bottom: 10px;
}

.search-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px; /* space between input and select */
    margin-left: 22px;
    width: auto;
}

.category-filter {
    padding: 5px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 13px;
    width: auto;
}

.search-bar input {
    width: 300px; /* Adjust as needed */
    padding: 5px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.search-bar i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.clear {
    background-color: #eee6ff;
    color: rgb(107, 35, 208);
    border: none;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    white-space: nowrap;
}

.clear:hover {
    background-color: #d7c6fa;
    color: rgb(107, 35, 208);
    border: none;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    white-space: nowrap;
}

.add-btn {
    background-color: #b18dfc;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    white-space: nowrap;
}

.add-btn i {
    margin-right: 5px;
}

.add-btn:hover {
    background-color: #996bfa;
}

.table-container-product {
    border: 2px solid #c7b3ff;
    border-radius: 10px;
    overflow-x: auto;
    margin-left: 20px;
    padding: 10px;
    background-color: #fff;
}

.table-container-product table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.table-container-product thead {
    background-color: #e6dffe;
}

.table-container-product th,
.table-container-product td {
    padding: 8px 19px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.edit {
    color: #007bff;
    margin-right: 10px;
    text-decoration: underline;
}

.edit i {
    margin-right: 4px;
}

.delete {
    color: red;
    text-decoration: underline;
}

.delete i {
    margin-right: 4px;
    margin-left: 10px;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination {
    gap: 4px;
}

.page-link {
    color: #6f42c1;
    border: 1px solid #6f42c1;
    font-size: 0.8rem;
    padding: 0.25rem 0.6rem;
    border-radius: 0.25rem;
}

.page-item.active .page-link {
    background-color: #6f42c1;
    color: #fff;
    border-color: #6f42c1;
}

.page-link:hover {
    background-color: #e9d8fd;
    color: #6f42c1;
}

@media (max-width: 768px) {
    .add-btn {
        width: 90%;
        text-align: center;
        font-size: 12px;
        margin-left: 10px;
    }

    .search-bar {
        flex: 1;
    }
}

@media (max-width: 480px) {
    .add-btn {
        padding: 6px 10px;
        font-size: 13px;
    }
}
